*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow:hidden;
    height: 100vh;
    
  }

/* gestao css - mudar depois para um arquivo separado */

.login-container {
    position: relative;
    height: 100%;
    background-image: url(img/60\ anos\ AA\ 029.jpg); /* Insira aqui o caminho para sua imagem de fundo */
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 10, 10, 0.5); 
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 800px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 6rem;
    margin-bottom: 10px;
}

.slogan {
    font-size: 3rem;
    margin-bottom: 20px;
}

.area-text {
    font-size: 1.8rem;
    margin-bottom: 30px;
}

input[type="email"],
input[type="password"] {
    width: 400px;
    height: 50px;
    margin-bottom: 15px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    color: red;
    display:flex ;
    flex-direction: column;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forgot-password {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.login-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 20px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.8s;
}
.login-button:hover {
    background-color: rgb(255, 254, 254);
    color: rgb(243, 3, 3);  
}

