*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow:hidden;
    height: 100vh;
    
  }

/* gestao css - mudar depois para um arquivo separado */

.login-container {
    position: relative;
    height: 100%;
    background-image: url(img/60\ anos\ AA\ 029.jpg); /* Insira aqui o caminho para sua imagem de fundo */
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 10, 10, 0.5); /* Vermelho transparente - você pode ajustar o valor do último parâmetro (0.5) para alterar a opacidade */
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.slogan {
    font-size: 24px;
    margin-bottom: 20px;
}

.area-text {
    font-size: 16px;
    margin-bottom: 30px;
}

input[type="email"],
input[type="password"] {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    color: red;
}

.forgot-password {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.8s;
}
.login-button:hover {
    background-color: rgb(255, 254, 254);
    color: rgb(243, 3, 3);
    
}

