/*
@media screen and (min-width: 1040px) and (max-width: 2500px) {
  .cards {
    width: 700px; 
    height: 350px;
    display: flex;
    background-color: rgb(255, 255, 255);
   }
   
  .header-top {
    background-color:rgb(154, 154, 154);
  }

  .header-top__gestion a {
    font-size: 1.3rem;
     
  }
  .header-bottom ul {
    gap: 40px;
    margin: 0;
  }
  .header-top__gestion {
    margin-right: 0px;
    gap: 0px;
    flex-direction: column;
  }
  .icongestao img {
    width: 40px;
  }

  .header-top__logo {
    width:200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
 
  }
  
  .header-top__logo h1 {
    width: 150px;
    text-align: center;
    font-size: 1.2em;

  }
  .header-top__logo img {
    width: 50px;
    height: 50px;  
  }

  .header-bottom{     
    color: #FFFFFF; 
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}*/


@media screen and (min-width: 900px) and (max-width: 1040px) {
    .cards {
      width: 700px; 
      height: 350px;
      display: flex;
     }

     .header-top {
      background-color: #ff0000; /* Primeira cor de vermelho */
      color: #ffffff; /* Cor do texto */
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 30px;
      width: 100%;
      padding: 30px;
    }
    .depoimentos__cards {
      gap: 50px;
    }
  }
/*========================================*/
/*========================================*/ 




/*========================================*/
/*========================================*/
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .cards {
      width: 700px; 
      height: 300px;
      display: flex; 
      
    }
    .depoimentos__cards{
      gap: 30px;
    }
    .mural__imagens {
      margin-top: 20px;
       margin-left: 100px; 
       margin-right: 100px; 
  }
  
  
    .header-top {
      background-color: #d02711; 
      color: #ffffff; 
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      gap: 25px;
      padding: 10px;
     
    }
  
    .header-top__logo {
      width:200px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0px;
   
    }
    
    .header-top__logo h1 {
      width: 150px;
      text-align: center;
      font-size: 1.2em;

    }
    .header-top__logo img {
      width: 50px;
      height: 50px; 
         
    }
  
    .header-bottom{     
      color: #FFFFFF; 
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
   
    .header-top__gestion a {
      font-size: 1.1rem;
       
    }
    .header-bottom ul {
      gap: 40px;
      margin: 0;
    }
    .header-top__gestion {
      margin-right: 0px;
      gap: 0px;
      flex-direction: column;
       
    }
    .icongestao img {
      width: 20px;
    }  
  }
/*========================================*/
/*========================================*/




/*========================================*/
/*========================================*/
  @media screen and (min-width: 480px) and (max-width: 600px){
    .cards {
      width: 500px; 
      height: 350px;
      display: flex;
     }   
     .header-top {
      background-color: #d02711; 
      color: #ffffff; 
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      gap: 25px;
      padding: 10px;
     
    }
  
    .header-top__logo {
      width: 140px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0px;
     
    }
    
    .header-top__logo h1 {
      width: 130px;
      text-align: center;
      font-size: 1.1rem;
      
    }
    .header-top__logo img {
      width: 50px;
      height: 50px; 
         
    }
  
    .header-bottom ul{
      gap: 0;
    }
  
    .header-bottom{
      background-color: #911414; 
      color: #FFFFFF; 
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
   
    .header-top__gestion a {
      font-size: 1.0rem;
    }
    .header-top__gestion {
      margin-right: 0px;
      gap: 0px;
      flex-direction: column;
    }
    .icongestao img {
      width: 20px;
    }

  }
/*========================================*/
/*========================================*/





/*========================================*/
/*========================================*/
@media screen and (max-width: 480px) {
  ul {
    padding: 0;
    margin: 0;
    
  }

  .depoimentos__cards {
    margin-top: 20px;
  }
  .depoimentos__titulo {
    color: #ff0000;
    font-size: 1.4rem;
    padding-top: 0;
    margin: 0;
}
.depoimentos__cards{
  gap: 30px;
}

  .cards {
    width: 500px; 
    height: 520px;
    display: flex;
    font-size: 1rem;
   }

   .cards p {
font-size: 0.9rem;
   }

   .cards h3 {
    font-size: 1.5rem;
       }

   .header-top {
    background-color: #d02711; 
    color: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 25px;
    padding: 10px;
   
  }

  .header-top__logo {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
   
  }
  
  .header-top__logo h1 {
    width: 130px;
    text-align: center;
    font-size: 1.1rem;
    
  }
  .header-top__logo img {
    width: 50px;
    height: 50px; 
       
  }

  .header-bottom ul{
    gap: 0;
  }

  .header-bottom{
    background-color: #911414; 
    color: #FFFFFF; 
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .header-top__gestion a {
    font-size: 1.0rem;
  }
  .header-top__gestion {
    margin-right: 0px;
    gap: 0px;
    flex-direction: column;
  }
  .icongestao img {
    width: 20px;
  }

  .mural__imagens{
    margin:20px
  }
}

