
*{
    margin: 0;
    padding: 0;
   
}

html, body {
  overflow-x: hidden;
 }

:root {
  --bg-color: #EBEBEB;

}
main{
  background-color: var(--bg-color);
}


  /* Header na parte superior */
  .header-top {
    background-color: #c91212; /* Primeira cor de vermelho */
    color: #ffffff; /* Cor do texto */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    width: 100%;
    padding: 30px 120px 30px 120px;
  }
  .header-top__logo {
   
    width: 400px;
    display: flex;
    align-items: center;
    gap: 0px;
  }
  
  .header-top__logo h1 {
    width: 300px;
    text-align: center;
    margin: 0;
   
  }

  .header-top__logo img {
    width: 100px;
    height: 100px; 
 
  }

  .header-top__gestion a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .header-top__gestion {
    margin-right: 0px;
    gap: 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 10px;
    transition: 0.3s;
  }
  /*.header-top__gestion:hover {
  width: 110px;
    height: 110px;
    border: 5px solid white;
    border-radius: 50%;
  }*/
  .icongestao img{
    width: 50px;
  }
  
  


  /* ======================== */
  /* Header na parte inferior */
  /* ======================== */
  .header-bottom {
    background-color: #950303; 
    color: #FFFFFF; 
    padding: 10px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .header-bottom ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 35px;
    margin: 0;
  }
  
  .header-bottom li {
    margin: 0 10px;
  }
  
  .header-bottom a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.1s;
  }
  .header-bottom a:hover {
    
    border-bottom: 3px  solid #fff7f7;
  }
  



  /* Estilos para a seção de depoimentos */
.depoimentos {
    background-color: #edebeb; /* Cor de vermelho para a seção de depoimentos */
    padding: 20px;
    text-align: center;
   
  }
  
  .depoimentos__titulo {
    color: #ff0000; /* Cor do texto do título */
  }
  
  .depoimentos__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 130px;
    flex-wrap: wrap;
    margin: 50px 0px 70px 0px;
  }

  .cards {
    background-color: rgb(255, 255, 255);
    padding: 33px;
    width: 330px;
    height: 600px;
   box-shadow: 10px 5px 5px rgb(255, 0, 0);
    display: flex;
    
    border-radius: 13px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: 0.5s;
    
}
.cards:hover{
    transform: scale(1.05);
    
}


  .cards h3 {
    color: #cb1515; 
    
  }
  .cards p {
    color: #000000; 
    font-size: 1rem;
  }

  

  
  
.mural {
    background-color: #EBEBEB; 
    text-align: center;
  }
  
  .mural__titulo {
    color: #ff0000; 
  }
  
  .mural__imagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 200px); 
    gap: 10px; 
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  .mural__imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }





  /* Estilos para o footer */
.footer {
    background-color: #CC0000; 
    padding: 20px;
    color: #FFFFFF; 
    text-align: center;
    height: 300px;
    margin-top: 100px;
  }
  
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__logo img {
    width: 80px;
    height: 80px;
  }
  
  .footer__contact p {
    margin: 5px 0;
  }
  
  .footer__social {
    margin-top: 20px;
  }
  
  .footer__social img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }



  
 