*{
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
    color:#000;
}

.titulo-galeria h2{
  color:#CF2727;
  text-align: center;
  margin: 50px;
  font-size: 40px;
}

main{
  
    width: 100%;
    height: 1056px;
    background-color:rgb(161, 16, 103);

}

.container{
    margin-top: 50px;
    padding: 40px;
}