/*
@media screen and (min-width: 1040px) and (max-width: 2500px) {
  .cards {
    width: 700px; 
    height: 350px;
    display: flex;
    background-color: rgb(255, 255, 255);
   }
   
  .header-top {
    background-color:rgb(154, 154, 154);
  }

  .header-top__gestion a {
    font-size: 1.3rem;
     
  }
  .header-bottom ul {
    gap: 40px;
    margin: 0;
  }
  .header-top__gestion {
    margin-right: 0px;
    gap: 0px;
    flex-direction: column;
  }
  .icongestao img {
    width: 40px;
  }

  .header-top__logo {
    width:200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
 
  }
  
  .header-top__logo h1 {
    width: 150px;
    text-align: center;
    font-size: 1.2em;

  }
  .header-top__logo img {
    width: 50px;
    height: 50px;  
  }

  .header-bottom{     
    color: #FFFFFF; 
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}*/


@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .cards {
      width: 700px; 
      height: 350px;
      display: flex;
     }

     .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 30px;
      width: 100%;
      padding: 30px
    }
    .depoimentos__cards {
      gap: 50px;
      margin: 20px 0px 50px 0px;
    }
    .depoimentos__titulo{
      margin-top: 50px;
    }

    .mural__imagens {
      margin: 70px 100px;
  }
  .header-bottom ul {
    font-size: 1rem;  
  }
  }
/*========================================*/
/*========================================*/ 






  @media screen and (min-width:769px) and (max-width: 1024px) {

/*========================================*/ 
/*==========TELA DE INICIO================*/ 
    .cards {
      width: 660px;
      height: 370px;
      display: flex;
  } 
    .depoimentos__cards{
      gap: 50px;
      margin-top: 20px;
    }
    .mural__imagens {
     
      margin: 20px 100px 0px 100px;
  }
     .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      gap: 25px;
    }
  
    .header-top__logo {
      width:300px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0px;
    }
    
    .header-top__logo h1 {
    width: 180px;
      text-align: center;
      font-size: 1.4em;

    }
    .header-top__logo img {
      width: 60px;
      height: 60px; 
    }
  
    .header-bottom{     
      color: #FFFFFF; 
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
   
    .header-top__gestion a {
      font-size: 1.1rem;
       
    }
    .header-bottom ul {
      gap: 40px;
      margin: 0;
      font-size: 1rem;
      
    }
    .header-top__gestion {
      margin-right: 0px;
      gap: 0px;
      flex-direction: column;
       
    }
    .icongestao img {
      width: 40px;
    }  
    .login-box h1{
      background-color: blueviolet;
    }
  }






/*========================================*/
/*========================================*/




/*========================================*/
/*========================================*/
@media screen and (min-width: 481px) and (max-width: 768px){
    .cards {
      width: 500px; 
      height: 520px;
      display: flex;
      font-size: 1rem;
     }   

     .depoimentos__cards {
      gap: 30px;
      margin-top: 10px;
     }

     .depoimentos__titulo {
      font-size: 2rem;
     }

     .header-top { 
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      gap: 25px;
      padding: 10px 30px;
    }
  
    .header-top__logo {
      width: 280px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0px;
    }
    
    .header-top__logo h1 {
      width: 150px;
      text-align: center;
      font-size: 1.3rem;
      
    }
    .header-top__logo img {
      width: 70px;
      height: 70px;     
    }
  
    .header-bottom ul{
      gap: 8px;
      font-size: 1rem;
    }
  
    .header-bottom{
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
   
    .header-top__gestion a {
      font-size: 1.1rem;
    }
    .header-top__gestion {
      margin-right: 0px;
      gap: 0px;
      flex-direction: column;
    }
    .icongestao img {
      width: 35px;
    }

    .mural__imagens {
      margin: 20px 40px 0px 40px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 150px);
     }
     .mural__titulo{
      font-size: 1.8rem;
     }
    }

/*========================================*/
/*========================================*/





/*========================================*/
/*========================================*/
@media screen and (max-width: 480px) {
  

  .depoimentos__cards {
    margin-top: 20px;
  }
  .depoimentos__titulo {
    font-size: 1.8rem;
    padding-top: 0;
    margin: 0;
  }
  .depoimentos__cards{
    gap: 30px;
  }

  .cards {
    width: 500px; 
    height: 520px;
    display: flex;
    font-size: 1rem;
   }

   .cards p {
   font-size: 0.8rem;
   }

   .cards h3 {
    font-size: 1.4rem;
   }

   .header-top { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 25px;
    padding: 10px;
   
  }

  .header-top__logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
  }
  
  .header-top__logo h1 {
    width: 130px;
    text-align: center;
    font-size: 1.1rem;
    
  }
  .header-top__logo img {
    width: 50px;
    height: 50px; 
      
  }

  .header-bottom ul{
    gap: 0;
    font-size: 0.7rem;
  }

  .header-bottom{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .header-top__gestion a {
    font-size: 1.0rem;
  }
  .header-top__gestion {
    margin-right: 0px;
    gap: 0px;
    flex-direction: column;
  }
  .icongestao img {
    width: 20px;
  }
  .mural__imagens {
    margin: 20px 40px 0px 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
   }
   .mural__titulo{
    font-size: 1.8rem;
   }

/*========================================*/ 
/*==========TELA DE GESTAO================*/
}

