*{
    margin: 0;
    padding: 0;
}

.parte-1{
    background-color: blue;
    width: 100%;
    height: 620px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap:40px;
       
}


.texto{
background-color: rgb(213, 207, 218);
width: 500px;
height: 416px;


}

.parte-1 img{
    width: 500px;
    height: 416px;

 
}

.texto h1{
    text-align:left;
    color:#CF2727;
    


}

.texto p{
    font-family: Arial, sans-serif;
    font-size:20px
}

.parte-2{
    background-color: gray;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 900px;
 
}

 .parte-2 h1{
    color:#CF2727;
}

body{
    min-height: 100vh;
    align-items: center;
    background: #f2f2f2;
    position: relative;
  }
  body::before{
    content: '';
    position: absolute;
    width: 100%;
    background: #FF676D;
    clip-path: inset(47% 0 0 0);
    z-index: -1;
    height: 100%;
  }
  ::selection{
    background:    #FF676D;
    color: #fff;
  }
  .container{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
  }
  .container .main-card{
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  }
  .container .main-card .cards-sobre{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }
  .main-card .cards-sobre .card{
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  .main-card .cards-sobre .card:hover{
    transform: translateY(-15px);
  }
  .cards-sobre .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cards-sobre .card .content .img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #FF676D;
    margin-bottom: 14px;
  }
  .card .content .img img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
  }
  .card .content .name{
    font-size: 20px;
    font-weight: 500;
  }
  .card .content .job{
    font-size: 20px;
    color: #FF676D;
  }
  .card .content .media-icons{
    margin-top: 10px;
    display: flex;
  }
  .media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #FF676D;
    transition: all 0.3s ease;
  }
  .media-icons a:hover{
    color: #FF676D;
    background-color: #fff;
    border-color: #FF676D;
  }
   .container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .button label{
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #fff;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button label.active{
    width: 35px;
  }
  #one:checked ~ .button .one{
    width: 35px;
  }
  #one:checked ~ .button .two{
    width: 15px;
  }
  #two:checked ~ .button .one{
    width: 15px;
  }
  #two:checked ~ .button .two{
    width: 35px;
  }
  input[type="radio"]{
    display: none;
  }
  @media (max-width: 768px) {
    .main-card .cards-sobre .card{
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
  }
  @media (max-width: 600px) {
    .main-card .cards-sobre .card{
      /* margin: 20px 0 10px 0; */
      width: 100%;
    }
  }

.mapa{


}

.maps {
  background-color: burlywood;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.texto-maps{
  background-color: #CF2727;
  width:  500px;
  height: 450px;
}

  






  
  